body{
  background-color:  #02010a;
  font-family: Dancing Script;
}


  .container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

.cabecera{
  background-color: #5b7989;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.cabecera h1 {
  color: white;
  float: left;
  text-shadow:-2px 0px #02010a;
  text-align: left;
}

.cabecera nav{
  word-spacing: 3em;
  padding: 2vw 2vw 0vw 2vw;
  text-align: right;
}

.imaCentral{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.activepage{
  text-decoration: none;
}

/*Móvil*/
@media (max-width 900px) {
  .container, .imagenes{
    width: 100%;
  }
}
