body{
  background-color:  #02010a;
  font-family: Dancing Script;
}

.contenido{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.contenido{
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.contenido img{
  box-shadow: 2px 2px 0px 0px #02010a;
}

.cabecera{
  width: 100%;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.cabecera h1 {
  color: white;
  float: left;
  text-shadow:-2px 0px #02010a;
}

.titulo{
  float: left;
  padding-left: 2vw;
}

.links{
  float: right;
  word-spacing: 3em;
  padding: 2vw 2vw 0vw 2vw;
}

.activepage{
  text-decoration: none;
}

.imagenCentral{
  width: 100%;
  background-color: #82c3a6;
}

#imaCentral{
  width: 98%;
  display: block;
  margin: 3% 1% 3% 1%;
}

.imagenSec{
  width: 100%;
  background-color: #d5c75f;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.imagenIzq{
  width: 50%;
  float: left;
  background-color: #d5c75f;
  text-align: center;
}

.imagenDer{
  width: 50%;
  float: right;
  background-color: #d5c75f;
  text-align: center;
}

.imagenSec a{
  text-align: center;
}

#imaIzq, #imaDer{
  width: 96%;
  display: block;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  margin: 3% 2% 3% 2%;
}


@media (max-width: 900px) {
  .contenido{
    width: 100%;
  }
  .cabecera{
    width: 100%;
  }
  .imagenIzq{
    width: 100%;
  }
  .imagenDer{
    width: 100%;
  }
}
